@model List<Amigo>
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Amigos Indice";
}
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Email</th>
        <th>Ciudad</th>
    </tr>
   
        @foreach (var amigo in Model)
        {
            <tr>
                <td>@amigo.Id</td>
                <td>@amigo.Nombre</td>
                <td>@amigo.Email</td>
                <td>@amigo.Ciudad</td>


            </tr>
          }
       
    </table>

@section Scripts
{ 

    <script src="~/js/MiScriptt.js"></script>
}


